<!-- cards/templates/cards/card_list.html -->

{% extends "cards/base.html" %}
{% load humanize %}

{% block content %}
    <h2>
        All Cards
    </h2>
    <a href="{% url 'card-create' %}" role="button">
        ✨ Create New Card
    </a>
    
    {% for card in card_list %}
        {% ifchanged card.box %}
            <h3>🗃 {{ card.box|ordinal }} Box</h3>
        {% endifchanged %}
        
        {% include "cards/card.html" %}
        
    {% empty %}
        <p>No cards yet. Create your first card!</p>
    {% endfor %}
{% endblock content %}